#logoimg {
  float: left;
  width: 250px;
  height: 200px;
  /*background-color: #CE4646;*/
}

body{
  /*background-color: #EF8B8B;*/
  /*background-color: #CE4646;*/
}

href{
	color: yellow;
}